/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-select
 *= require bootstrap-tokenfield
 *= require select2
 */

@import "bootstrap";
@import "bootstrap/theme";
@import "bootstrap-datetimepicker";

.form-wrapper
{
	width:40%;
	margin-left: auto;
	margin-right: auto;
	margin-top:70px;
}

.form-wrapper input
{
  float:right;
}

.form-select select
{
  display:block;
  background: transparent;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border-style:solid;
  border-width:1px;
  border-radius: 5px;
  border-color:lightgray;
  height: 34px;
}